#main-container{
    margin-top: 15vh;
    gap: 15vh;
}

.input-form > *{
    min-width: 10px;
    width: 12vw;
    padding: 10px;
}

.forgot-pass{
    text-align: right;
}

.forgot-pass > p{
    cursor: pointer;
}

.header{
    /* font-size: 1.5em; */
}

.items{
    min-width: 500px;
    /* max-width: 20vw; */
}

a{
    text-decoration: none;
    
}
